.footer {
    display: flex;
    justify-content: center;
    height: 96px;

    &__selector {
        width: 20px;
        height: 20px;
        cursor: pointer;
        border-color: #fff;

        &-option {
            height: 10px;
            overflowY: auto;
        }
    }

    &__arrow {
        color: #5B5B5B;
        background-color: transparent;
        border: transparent;
        cursor: pointer;
        width: 10px;
        height: 20px;
        padding-left: 25px;
    }

    &__rows {
        padding-right: 16px;
    }

    &__selector-box {
        padding-right: 32px;
        display: flex;
    }

}
